


<html lang="hu">
    <head>
      <title>COVID és a gazdaság viszonya</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
    
    
      
    <div class="container">
        <div class="jumbotron bg-fej text-center" style="background-image: url('./assets/img/covid.jpg');">
            <h1>COVID</h1>
            <h3>Külkereskedelmi folyamatok 2020. január–május</h3>
        </div>
      <br>
      
      <div class="table-responsive">
        <div class="container">
            
            
       
       
        </div>
       </div>
      <div class="row">
        <div class="col-md-12 bg-torzs">
          
          
        <br>
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Dátum(millió eu)</th>
                    <th scope="col">Import(millió eu)</th>
                    <th scope="col">Export(millió eu)</th>
                    <th scope="col">Egyenleg(millió eu)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td scope="col-4">2017-01-01</td>
                    <td>7182.20 EUR</td>
                    <td>7672.09 EUR</td>
                    <td>489.89 EUR</td>
                </tr>
                <tr class="">
                    <td scope="col-4">2017-01-01</td>
                    <td>7182.20 EUR</td>
                    <td>7672.09 EUR</td>
                    <td>489.89 EUR</td>
                </tr>
                <tr class="">
                    <td scope="col-4">2017-01-01</td>
                    <td>7182.20 EUR</td>
                    <td>7672.09 EUR</td>
                    <td>489.89 EUR</td>
                </tr>
                <tr class="">
                    <td scope="col-4">2017-01-01</td>
                    <td>7182.20 EUR</td>
                    <td>7672.09 EUR</td>
                    <td>489.89 EUR</td>
                </tr>
            
            </tbody>
        </table>
        </div>
       </div>
    
       
       
       
    </div>
    
    </body>
    </html>
    
